.banner{
	height: 100vh;
	background-image: url("../images/banner.png");
	background-size: cover;
	background-position: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.banner h1, .banner h2{
	text-shadow: 1px 1px 12px black;
    font-family: 'Josefin Sans', serif;

}

.banner h1{
	font-size: 34px;
}

.banner h2{
	font-size: 24px;
	font-family: 'Lora', serif;
}

@media (min-width: 576px) { 
.banner{
	background-position: center;
	} 
}

.banner2{
	height: 30vh;
	background-image: url("../images/banner2.png");
	background-size: cover;
	background-position: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 15px;

.banner2 h4{
	font-size: 24px;
	font-family: 'Lora', serif;
}
