
.map{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0px;
	justify-content: center;
}

.googlemap iframe{
	align-items: center;
	align-content: center;
	margin-left: : 10px;
	width: 60%;
}

.llegar{
	margin: 0;
    font-family: 'Tahoma', sans-serif;
    color: grey;
    background-color: #D9C6B9;
    text-align: left;
    font-size: 14px;
    width: 170%
    margin: 0px auto;
}

@media (min-width: 400px) { 
.map{
	grid-template-columns: 1fr;
	} 
}
@media (min-width: 576px) { 
.map{
	grid-template-columns: 1fr 1fr;
	} 
}